<style>
#main-nav > h1 {
  display: flex;
  align-items: flex-end;
}
#main-nav > h1 > span {
  padding-bottom: 0.25em;
}
#logo {
  margin-right: 0.5rem;
  max-width: 4rem;
}
</style>
<nav id="main-nav">
  <h1>
    <img id="logo" src="https://chances.github.io/playdate-d/images/playdate.png" alt="Playdate Logo">
    <span>Playdate SDK D Bindings</span>
  </h1>
  <ul style="list-style: none; padding: 0;">
    <li>
      <a href="https://chances.github.io/playdate-d">API Reference</a>
    </li>
    <li>
      <a href="https://code.dlang.org/packages/playdate-d">Download</a>
    </li>
    <li>
      <a href="https://github.com/chances/playdate-d#readme">Open Source on GitHub</a>
    </li>
  </ul>
  <h2>API Reference</h2>
